/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	sniffer_sync: sniffer-sync {
		compatible = "nordic,802154-sniffer-sync";
		/* SYNC PIN: P0.03. */
		sync-gpios = <&gpio0 3 0>;
	};
};

&board_cdc_acm_uart {
	#include "cdc-acm-common.dtsi"
};
